<!DOCTYPE html>
<!-- PUBLIC FACING PAGES BASE TEMPLATE -->
<html lang="en">
	<head>
		{%block head%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Shopping List | {% block pagetitle %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/shoplist.css')}}" rel="stylesheet">
        {% endblock %}
	</head>
  	<body id="landing">
        <div class="container">
            {% block content %}{% endblock %}
            <footer class="footer">
                {% block footer %}
                <p>&copy; 2017 <a href="https://github.com/kasulani">Emmanuel King Kasulani.</a></p>
                {% endblock %}
            </footer>
        </div><!-- ./container -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/shoplist.js')}}"></script>
	</body>
</html>