{% extends "base2.html" %}
{% block pagetitle %}Dashboard{% endblock %}
{% block breadcrumb %}
<li class="active">
<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</li>
{% endblock %}
{% block navtabs %}
<li class="active"><a href="#activity" data-toggle="tab">My Shopping Lists</a></li>
{% endblock %}
{% block tabcontent %}
{# ACTIVITY TAB#}
<div class="active tab-pane" id="activity">
    <div class="box">
        <div class="box-header">
            {% if lists %}
            <h3 class="box-title">These are your shopping lists</h3>
            {% else %}
            <h3 class="box-title">Welcome! Add your first list</h3>
            {% endif %}
            <div class="box-tools">
                <button id="add_list_btn" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-list-form">
                    Add a list
                </button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            {% if lists %}
            <table class="table">
                <thead>
                    <tr>
                        {# <th style="width: 10px">#</th> #}
                        <th>List</th>
                        <th>Action</th>
                        <!--<th>Progress</th>
                        <th style="width: 40px">%</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for alist in lists %}
                    <tr>
                        {# <td>{{ alist.id }}</td> #}
                        <td><a data-toggle="tooltip" data-placement="top" title="click on this list to view its items" id="list_item" href="{{ url_for('view_items',list_id = alist.id) }}">{{ alist.title }}</a></td>
                        <td><a id="edit_list_btn" class="btn btn-primary btn-xs" href="{{ url_for('edit_list',list_id = alist.id) }}">Edit</a>
                            <a id="delete_list_btn" class="btn btn-danger btn-xs" href="{{ url_for('delete_list',list_id = alist.id) }}">Delete</a></td>
                        <!--<td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar progress-bar-primary" style="width: 0%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-light-blue">0%</span></td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="container">
                <h4><small>You have no shopping lists</small></h4>
            </div>
            {% endif %}
        </div><!-- /.box-body -->

        <!-- modal for adding a shopping list -->
        <div class="modal fade" id="modal-list-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create a new shopping list</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('add_list') }}" method="post" id="listform">
                            <div class="form-group">
                                <label for="listName">Name</label>
                                <input name="title" type="text" class="form-control" id="listName" placeholder="Enter a unique name for your list">
                            </div>
                            <div class="form-group">
                                <label for="listDescription">Description</label>
                                <textarea name="description" class="form-control" rows="3" id="listDescription" placeholder="Enter a short description about your list"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                        <button id="create_list_btn" type="submit" form="listform" class="btn btn-sm btn-primary">Create List</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="box-footer">
            <!--<div class="box-tools">
				<ul class="pagination pagination-sm no-margin pull-right">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
		    </div>-->
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
</div><!-- /.tab-pane -->
{% endblock %}

