{% extends "base_2.html" %}
{% block title %}Shopping List | Shopping List{% endblock %}
{% block custom_style %}<link href="../static/css/dashboard.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-2 main">
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter a name for your shopping list">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="password" class="form-control" id="description" placeholder="Enter a short description for your shopping list">
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Save list</button>
        </div>
    </form>
</div>
<div class="col-sm-9 col-md-4 main">
    <div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#"><i class="fa fa-inbox"></i>Create a new list</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i>Delete this list</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i>Add Items to this list</a></li>
        </ul>
    </div>
</div>
{% endblock %}