{% extends "base_2.html" %}
{% block title %}Shopping List | {{list_name}}{% endblock %}
{% block custom_style %}<link href="../static/css/dashboard.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-2 main">
    <h4> List: {{list_name}}</h4>
    <!-- form start -->
    <form role="form" action="/add/item" method="post">
        <div class="box-body">
            <input type="hidden" name="list_id" value={{list_id}}>
            <div class="form-group">
                <label for="exampleInputEmail1">Item name</label>
                <input type="text" class="form-control" name="item_name"id="exampleInputEmail1" placeholder="Enter item name here">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter a short description for item">
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
    </form>
    <div class="table-responsive">
        <!-- Table of lists that have been created-->
        {% if items %}
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Name of item</th>
                      <th>Description</th>
                      <th colspan="2">Operation</th>
                    </tr>
                </thead>
                <!--table body-->
                <tbody>
                {% for i in range(0,num) %}
                    <tr>
                        <td>{{ items[i]['id'] }}</td>
                        <td><a href="#">{{ items[i]['name'] }}</a></td>
                        <td>{{ items[i]['description'] }}</td>
                        <td class="text-right"><a href="#">edit</a></td>
                        <td class="text-right"><a href="{{ url_for('delete_list_item',list_id = list_id, item_id = items[i]['id']) }}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody><!-- end of table body-->
            </table>   <!--end of table-->

        {% else %}
            <div class="items">
                <h4 class="text-center text-color">You have no items on this list </h4>
            </div>

        {% endif %}
    </div>
</div>
{% endblock %}