{% extends "base_2.html" %}
{% block title %}Shopping List | Shopping List{% endblock %}
{% block custom_style %}<link href="../static/css/dashboard.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-2 main">
    <!-- form start -->
    <form role="form" action="/add/list" method="post">
        <div class="box-body">
            {% if a_list %}
            <div class="form-group">
                <label for="listname">Name for your list</label>
                <input type="text" value={{a_list[1]}} class="form-control" name="title" id="listname" placeholder="Enter a name for your shopping list">
            </div>
            <div class="form-group">
                <label for="iddescription">Description</label>
                <input type="text" value={{a_list[2]}} class="form-control" name="description" id="iddescription" placeholder="Enter a short description for your shopping list">
            </div>
            {% else %}
            <div class="form-group">
                <label for="listname">Name for your list</label>
                <input type="text" class="form-control" name="title" id="listname" placeholder="Enter a name for your shopping list">
            </div>
            <div class="form-group">
                <label for="iddescription">Description</label>
                <input type="text" class="form-control" name="description" id="iddescription" placeholder="Enter a short description for your shopping list">
            </div>
            {% endif %}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Save list</button>
        </div>
    </form>
    <div class="table-responsive">
        <!-- Table of lists that have been created-->
        {% if lists %}
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Name of list</th>
                      <th>Description</th>
                      <th colspan="2">Operation</th>
                    </tr>
                </thead>
                <!--table body-->
                <tbody>
                {% for i in range(0,num) %}
                    <tr>
                        <td>{{ lists[i]['id'] }}</td>
                        <td><a href="{{url_for('shopping_list_items', list_id = lists[i]['id'])}}">{{ lists[i]['title'] }}</a></td>
                        <td>{{ lists[i]['description'] }}</td>
                        <td class="text-right"><a href="{{ url_for('edit_list',list_id = lists[i]['id']) }}">edit</a></td>
                        <td class="text-right"><a href="{{ url_for('delete_list',list_id = lists[i]['id']) }}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody><!-- end of table body-->
            </table>   <!--end of table-->

        {% else %}
            <div class="items">
                <h4 class="text-center text-color">You have no lists </h4>
            </div>

        {% endif %}
    </div>
</div>
<div class="col-sm-9 col-md-4 main">
    <!-- <div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#"><i class="fa fa-inbox"></i>Create a new list</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i>Delete this list</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i>Add Items to this list</a></li>
        </ul>
    </div>-->
</div>
{% endblock %}